html, body {
    height:100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background:url('./images/house-background.jpg');
  background-size: cover;
  background-position: center center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  background-attachment: fixed; /* Keeps the background fixed when scrolling */
}

#content {
    display:flex;
    flex-direction: column;
    min-height:100vh;
    margin:auto;
    width:80%;
}

.main-content {
  padding:10px;
  background:rgba(255,255,255,.6);
  flex-grow:1;
}

.main-content > h2 {
  text-align:center;
}

#content button {
  border:1px solid #295095;
  color:#295095;
  background:rgba(100,149,237,.2);
  font-size:1.2em;
  font-weight:bolder;
  border-radius:5px;
  padding:0 7px;
}


@media screen and (min-width: 768px) {
  .columns {
    display:flex;
  }
}